/question-generator-api/node_modules
/question-generator-api/.env
/file-scanner-worker/node_modules
/file-scanner-worker/.env
/text-extractor/venv
/text-extractor/.env
/text-extractor/__pycache__
/ai-metimeter-client/node_modules
/ai-metimeter-client/dist
/ai-metimeter-client/backend_requirements.md
/ai-metimeter-client/.editorconfig
/ai-metimeter-client/.angular
/question-generator-api-ts/node_modules
/question-generator-api-ts/.env
/AttemptAPI/bin
/AttemptAPI/obj
/ReportsAPI/bin
/ReportsAPI/obj
.dotnet/*
.vscode/*
.github/*
question-generator-worker/__pycache__
question-generator-worker/helpers/__pycache__
question-generator-worker/models/__pycache__
question-generator-worker/.venv
.env
*.log
lambda/node_modules
.agent/*
.claude/*
Testing/*